<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.twitter.sdk.android.core">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity android:name=".identity.OAuthActivity"
                  android:configChanges="orientation|screenSize"
                  android:excludeFromRecents="true"
                  android:exported="false"/>

        <activity
            android:name=".identity.ShareEmailActivity"
            android:label="@string/kit_name"
            android:icon="@drawable/tw__transparent"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"/>
    </application>

</manifest>
